<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Markenshop"/>
    <meta title="Mini Score - Sporting Event Scores in Text">
    <meta
            name="description"
            content="Mini Score aims to be an option for viewing sporting event scores in a limited bandwidth environment."/>
    <meta name=”robots” content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mini Score</title>
</head>
<body>
<main>
    <p>Directory</p>

    <ul>
        <li><a href="/mlb">mlb</a></li>
    </ul>

</main>
</body>

</html>